<div class="add-movie-container" id="add-movie-container">
    <form name="movieForm">
        <input class="lisays" type="text" placeholder="Elokuvan nimi" ng-model="newName" required>
        <input class="lisays" type="text" placeholder="Elokuvan ohjaaja" ng-model="newDirector" required>
        <input class="lisays" type="text" placeholder="Elokuvan kuvausvuosi" ng-model="newYear" required ng-pattern="/^[0-9]{4,}$/">
        <input class="lisays" type="text" placeholder="Elokuvan kuvaus" ng-model="newDesc" required>
        <input class="lisaa" type = "submit" value="Lisää elokuva" ng-click="addMovies()" ng-disabled="movieForm.$invalid">
    </form>
</div>