<div class="add-movie-container" id="add-movie-container">
    <form name="movieForm">
        <input class="lisays" type="text" placeholder="Elokuvan nimi" ng-model="newName" required>
        <input class="lisays" type="text" placeholder="Elokuvan ohjaaja" ng-model="newDirector" required>
        <input class="lisays" type="text" placeholder="Elokuvan kuvausvuosi" ng-model="newYear" required ng-pattern="/^[0-9]{4,}$/">
        <input class="lisays" type="text" placeholder="Elokuvan kuvaus" ng-model="newDesc" required>
        <input class="lisaa" type = "submit" value="Lisää elokuva" ng-click="addMovies()" ng-disabled="movieForm.$invalid">
    </form>
</div>
<li ng-repeat="movie in movies", style="list-style: none">
    <div class="movie-container">
        <div><a class="elokuva" ng-href="#/movies/{{movie.$id}}">{{movie.name}}</a> <a class="elokuva">({{movie.year}})</a><input class="poista" type = "submit" value="Poista" ng-click="removeMovie(movie)"><a ng-href="#/movies/{{movie.$id}}/edit" class="editoi" type = "submit" value="Editoi">Editoi</a></div>
        
    </div>
</li>